.container
  width: 1135px
  margin: auto
  @media (max-width: 1135px)
    width: 100%
    margin: 0 15px

.section,
article
  padding: 5% 0
  .section-title
    font-family: 'Raleway', sans-serif
    font-weight: 800
    font-size: 30px
    color: $heading-text
    text-transform: uppercase
    span
      font-family: 'Lora', sans-serif
      font-size: 16px
      font-style: italic
      display: block
      text-transform: none
  .section-heading
    margin-top: 0
    color: $heading-text
    font-family: 'Raleway', sans-serif
    font-size: 16px
    font-weight: 700
    text-transform: uppercase
    a
      margin-top: 0
      color: $heading-text
      font-family: 'Raleway', sans-serif
      font-size: 16px
      font-weight: 700
      text-transform: uppercase
      text-decoration: none
  .main-text
    font-family: 'Open Sans', sans-serif
    font-size: 14px
    color: $main-text
    line-height: 28px
    strong
      color: $heading-text
      text-transform: uppercase

.main-btn
  padding: 15px 30px
  color: $accent-color
  border: 2px solid $accent-color
  text-transform: uppercase
  font-size: 13px
  font-family: 'Raleway', sans-serif
  font-weight: 700
  display: flex

.accent-text
  color: $accent-color
  font-family: 'OpenSans', sans-serif
  font-size: 12px
  font-weight: 700
  text-transform: uppercase

blockquote
  margin: 4% 0 4% 10%
  background: #fef1de
  border-left: 4px solid #ffaf36
  color: $heading-text
  font-family: 'Lora', sans-serif
  font-size: 15px
  font-style: italic
  line-height: 28px
  
.contact-phone:before
  content: '\f095'
  font-family: 'FontAwesome'
  display: block
  width: 23px
  height: 23px
  color: $accent-color

.site-title
  a
    padding-right: 20px
    padding-bottom: 15px
    border-right: 1px solid white

.grey-bg
  background: rgba(56, 50, 50, 0.52)