footer
  background: #2a2b2c
  .container
    margin: 5% auto
  .widget-title
    color: white
    font-family: 'Raleway', sans-serif
    font-size: 18px
    font-weight: 700
    text-transform: uppercase
  .widget_nav_menu
    padding: 0 10%
    ul
      padding: 0
      margin: 0
      li
        padding: 10px 0
        border-bottom: 1px solid #7b7b7c
      a
        padding: 10px 0
        color: #7b7b7c
        font-family: 'OpenSans', sans-serif
        font-size: 13px
        font-weight: 600
        text-transform: uppercase
  #wpcf7-f59-o1
    input,
    textarea
      padding: 15px 20px
      text-transform: uppercase
      background: transparent
      border-color: #7b7b7c
      border-radius: 0
  #text-2
    padding-left: 15%
    .main-btn
      margin-top: 5px
      border: 2px solid $accent-color
      background: transparent
      color: $accent-color
      font-size: 13px
      font-family: 'Raleway', sans-serif
      font-weight: 700
      box-shadow: none
      text-shadow: none
