header
  border-bottom: 1px solid rgba(221, 228, 234, 0.16)
  position: absolute
  top: 0
  right: 0
  left: 0
  .container
    .site-title
      text-transform: uppercase
      font-size: 14px
      color: white
    .contact-phone
      margin: 0
      padding-top: 4%
      color: white
      padding-left: 20px
      font-size: 14px
    .main-navigation
      .nav-menu
        padding-top: 2%
        display: flex
        justify-content: space-between
        font-size: 14px
        text-transform: uppercase
        a
            padding: 20px 5px
            color: white