// Template Name: Rex
 Author: MarkUps
 Author URI: http://www.markups.io/
 Description: Rex - One Page Multipurpose Business HTML5 Template.
 Version: 1.0
 Tags: light, white,blog,business,multipurpose,one page, single page, custom-colors,Bootstrap,responsive, html5, css3
 Text Domain: rex

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700)
@import url(https://fonts.googleapis.com/css?family=Raleway:400,700,800)
@import url(https://fonts.googleapis.com/css?family=Lora:400italic)


@import "reset"
@import "variables"
@import "mixin"
@import "default-classes"
@import "header"
@import "footer"
@import "sidebar"

.site-main
  .about-us
    .main-btn
      margin: 35px 0
  .services
    background: #eaeff3
    .services-list
      margin: 0
      padding: 0
      .single-service
        margin-top: 10%
        p
          @include main-text
          line-height: 28px
    .main-btn
      margin-top: 6%

  .client-comments
    .single-comment
      margin-top: 5%
      padding-right: 5%
      &:last-of-type
        padding-right: 0
      &:before
        content: ''
        background: url('../img/quote_icon.png') no-repeat
        background-size: cover
        display: block
        width: 92px
        height: 61px
        position: absolute
        top: -26%

  .news
    background: #eaeff3
    .news-content
      margin-top: 5%
      .main-btn
        width: 25%
        margin-top: 10%
    .main-news
      .section-heading
        margin-top: 7%
      .post-info
        margin-top: 15px
        margin-right: 20px
        border-bottom: 2px solid #ffaf36
        &:first-of-type
          margin-top: 0
        p
          @include main-text
          margin-bottom: 0
          text-align: right
          font-size: 11px
        a
          color: $main-text
          text-decoration: none
          font-size: 11px
        .comments-count:before
          content: '\f0e6'
          font-family: 'FontAwesome'
          font-size: 28px
          width: 100%
          height: 28px
          display: flex
          justify-content: flex-end
        .date-day
          margin: 0
          color: $heading-text
          font-size: 30px
          font-weight: 700
          text-transform: uppercase
          text-align: right
    .single-new
      border-bottom: 1px solid #d8dcdf
      &:last-of-type
        border: 0
        margin-top: 7%

  .partners
    .partners-list
      margin-top: 5%
      padding: 0
      li
        padding: 2%
        border: 1px solid #eaeff3
        text-align: center

  article
    h2
      margin: 0
      a.section-title
        font-size: 18px
    .post-info
      color: #757575
      font-family: 'ProximaNova', sans-serif
      font-size: 13px
      font-weight: 600
      line-height: 24px
      text-transform: uppercase

    .author-avatar
      img
        border-radius: 50%
        margin-top: 12%
    .main-text
      margin-top: 3%
    .main-btn
      float: right

.easy-wp-page-nav
  li
    .current
      border: 1px solid $accent-color
      background: transparent
      color: $accent-color
