@mixin flex-col()
  display: flex
  flex-direction: column

@mixin transition($effect)
  -webkit-transition: $effect
  -moz-transition: $effect
  -o-transition: $effect
  transition: $effect

@mixin transform($effect)
  -webkit-transform: $effect
  -ms-transform: $effect
  -o-transform: $effect
  transform:  $effect

@mixin main-text
  font-family: 'Open Sans', sans-serif
  color: $main-text
  font-size: 14px